teamw-layout {
  display: flex;
  flex: 1;
  flex-direction: column;

  router-outlet {
    & + * {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 10px;
    }
  }

  .mat-sidenav-content {
    display: flex;
    flex: 1;
  }
}
