<form [formGroup]="itemForm" novalidate>
  <md-input-container>
    <input mdInput placeholder="Player name" formControlName="name">
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Player ID" formControlName="id">
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Player nickname" formControlName="nickname">
  </md-input-container>

  <md-select placeholder="Favorite race" formControlName="favoriteRace">
    <md-option *ngFor="let race of races" [value]="race.key">
      <img src="{{race.icon}}" />
      {{ race.label }}
    </md-option>
  </md-select>
</form>
