body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin: 0px;
}

app-root {
  display: flex;
  flex: 1;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  clear: both;
}

