<md-progress-spinner *ngIf="!profile"
  [color]="'blue'"
  [mode]="'indeterminate'">
</md-progress-spinner>
<div class="profile-image" *ngIf="profile" (click)="openProfile()"
     [style.background-image]="profile.portrait.url"
     [style.background-position-x]="profile.portrait.x+'px'"
     [style.background-position-y]="profile.portrait.y+'px'"
     [style.width]="profile.portrait.w+'px'"
     [style.height]="profile.portrait.h+'px'">
</div>
