<h2>Season {{profile.season.seasonNumber}} / {{profile.season.seasonYear}}</h2>
<md-grid-list cols="profile.season.stats.length" rowHeight="300px">
  <md-grid-tile *ngFor="let stat of profile.season.stats"
  [colspan]="1"
  [rowspan]="1">
    <b>{{stat.type}}</b> {{stat.wins}} wins
  </md-grid-tile>
</md-grid-list>
