<md-toolbar>
  <button md-mini-fab (click)="toggleSidebar()"><i class="fa fa-bars"></i></button>
  <span [mdMenuTriggerFor]="menu">TeamW</span>
  <md-menu #menu="mdMenu">
    <button md-menu-item>Hello</button>
  </md-menu>

</md-toolbar>
