@import '~ag-grid/dist/styles/ag-grid.css';
@import '~ag-grid/dist/styles/theme-material';

teamw-grid {
  width: 100%;
  display: flex;
  flex: 1;

  ag-grid-angular {
    display: flex;
    flex: 1;
    width: 100%;

    .ag-layout-normal {
      width: 100%;
    }

    .ag-bl-full-height {
      display: flex;
      flex: 1;
    }

    .ag-cell-not-inline-editing {
      padding-top: 5px !important;
    }
  }
}
