teamw-sidenav {
  display: flex;
  flex: 1;

  teamw-navigation-buttons {
    display: flex;
    flex-direction: column;
  }

  .mat-sidenav {
    background-color: #575757;
    color: #FFF;
    min-width: 200px;
  }

  .mat-sidenav-container {
    display: flex;
    flex: 1;
  }

  teamw-navigation-buttons {
    a {
      &.active {
        background-color: #257cff;
      }
    }
  }
}
