<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" [opened]="opened">
    <teamw-navigation-buttons [states]="states"></teamw-navigation-buttons>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
